<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">

      <section class="py-5">

        <div class="container text-center mt-5 bg-light text-dark border border-info">
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">

                <div *ngIf="email.errors.required">
                    Email is required.
                </div>
            </div>

          <form [formGroup]="registerForm" novalidate>
            <div class="pt-5 pb-5">
              <div class="form-group">
                <label for="email">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email" [(ngModel)]="model.email" name="email"  aria-describedby="emailHelp" placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="pass">Password</label>
                <input formControlName="pass" [(ngModel)]="model.pass" name="pass" type="password" class="form-control" id="pass" placeholder="Password" name="pass" required>
              </div>
              <div class="form-group">
                <a href="" class="d-block">¿Olvido su contraseña?</a>
                <a href="" class="d-block">¿Ya tiene una cuenta? Inicie sesión</a>
              </div>
              <button (click)="registro()" class="btn btn-info mt-3">Registrarse</button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>