<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div class="jumbotron jumb">
  <div class="container">
    <h1>Denuncie!</h1>
    <p>Realice su denuncia de inmediato!</p>
    <a class="btn btn-primary btn-lg pull-right" href="#" role="button">Denunciar</a>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Denuncias recientes</h2>
        <ul class="list-group">
          <li class="list-group-item">test</li>
          <li class="list-group-item">test</li>
          <li class="list-group-item">test</li>
          <li class="list-group-item">test</li>
          <li class="list-group-item">test</li>
        </ul>

      </div>
      <div class="col-md-6">
        <h2>Denuncias mas vistas</h2>
        <ul class="list-group">
          <li class="list-group-item">test</li>
          <li class="list-group-item">test</li>
          <li class="list-group-item">test</li>
          <li class="list-group-item">test</li>
          <li class="list-group-item">test</li>
        </ul>
      </div>
    </div>
  </div>
</div>

